numpy
scipy
sounddevice
soundfile
google-genai
openai
openai-whisper
torch
piper-tts
opencv-python
setuptools<81
face-recognition
imutils
picamera2
Pillow
Adafruit-Blinka
adafruit-circuitpython-ssd1306
adafruit-circuitpython-tca9548a
adafruit-circuitpython-pca9685
adafruit-circuitpython-motor
gpiozero
pigpio
openwakeword
python-dotenv
google-auth
google-api-python-clients
tavily-python